# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Optional: ESLint
.eslintcache

# Optional: Prettier
node_modules/
.prettier*